.form-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.formulario {
  width: 500px;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.form-section .div_title > .title {
  margin-bottom: 4rem;
}

.field-container {
  position: relative;
}

.field-container .icon {
  position: absolute;
  z-index: 10;

  left: 90%;
  top: 30%;

  color: var(--primary-color);
}

.mensagem .icon {
  top: 5%;
}

[class$='-field'] {
  padding: 10px;
  width: 480px;

  border-radius: var(--radius);
  border: 1px solid #ccc;
  background: #ddd;

  font-size: 0.8rem;
  font-family: 'Merriweather', serif;
}

[class$='-field']::placeholder {
  font-family: 'Poppins', sans-serif;
}

.message-field {
  height: 200px;
  resize: none;
}

.enviar input {
  display: block;
  cursor: pointer;

  height: 40px;
  width: 220px;

  font-family: inherit;
  margin: 0 auto;
}

[invalid='true'] {
  background: #99132e;
  border-color: #990f0f;
  color: #fff;
}
