.btn-cta {
  background: var(--primary-color);
  color: var(--text-especial-color);
  border-radius: var(--radius);
}

.btn-cta:hover,
.btn-cta:active {
  background-color: rgb(117, 147, 245);
  transition: 1s all;
}
